/* __________FONTS____________ */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap");

/* ____________FORMATTING___________ */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f8fafe;
}

ul li {
  list-style: none;
}

button {
  padding: 20px 30px;
  outline: none;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
}

/* ___________GRADIENT CLASSES__________ */
.blueGradient {
  background: linear-gradient(66deg, #caedff 0%, #6ec9fa 100%);
}

.purpleGradient {
  background: linear-gradient(66deg, #daceff 0%, #9f94fe 100%);
}

.orangeGradient {
  background: linear-gradient(66deg, #ffdcce 0%, #f79151 100%);
}

/* _________CUSTOM CLASSES________ */
.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card__item {
  padding: 8.5px;
  min-width: min-content;
  max-width: 300px;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  border-radius: 2px;
  box-shadow: -1px 11px 27px -10px rgba(192, 192, 192, 0.4);
  color: #303030;
}

.card__item--title {
  padding: 20px;
  border-radius: 2px;
  color: #f8fafe;
}

.card__item--pricing {
  padding: 30px;
}

.card__item--pricing h1 {
  padding: 20px 0;
  font-size: 3rem;
}

.card__item--pricing p {
  padding: 5px 0;
}

.card__item--pricing p:nth-child(2) {
  text-transform: uppercase;
}

.card__item--btn-ul {
  margin: 10px;
}

.card__item--btn-ul > button {
  width: 100%;
}

.card__item--btn-ul > ul {
  text-align: left;
  padding: 15px;
}

.card__item--btn-ul > ul li {
  padding: 7.5px 5px;
}

.container-1200 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 20px;
}

.btn-outline {
  background-color: transparent;
  color: #303030;
  border: 1px solid #303030;
  border-radius: 2px;
  transition: all 0.25s ease;
}

.btn-outline:hover {
  background-color: #303030;
  color: #f8fafe;
}

.btn-dark {
  border: 1px solid #303030;
  background-color: #303030;
  border-radius: 2px;
  transition: all 0.25s ease;
}

.btn-dark:hover {
  background-color: #f8fafe;
  color: #303030;
}

/* ________MAKING RESPONSIVE USING MEDIA QUERIES________ */
@media screen and (max-width: 825px) and (min-width: 541px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__container > div:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
  }
}

@media screen and (max-width: 540px) {
  .card__container {
    grid-template-columns: 1fr;
  }
}
